
      <div class="col-sm-4 col-xs-12 text-primary">
        <%= link_to 'Beauty Service',{:controller=>'search',:action=>'index',:search_type=>'BeautyService'},:class=> "col-sm-12 col-xs-12 btn btn-info" %>
      </div>
      <div class="col-sm-4 col-xs-12 text-primary">
        <%= link_to 'Medical Labs',{:controller=>'search',:action=>'index',:search_type=>'MedicalTest'},:class=> "col-sm-12 col-xs-12 btn btn-info" %>
      </div>
      <div class="col-sm-4 col-xs-12 text-primary">
        <%= link_to 'Chemists',{:controller=>'search',:action=>'index',:search_type=>'Medicine'},:class=> "col-sm-12 col-xs-12 btn btn-info" %>
      </div>
