  <div class="container" style="padding-top: 50px">

      <div class="row center">
        <div class="col-md-12">
          <h2 class="short word-rotator-title">The New Way to <strong class="inverted" data-appear-animation="bounceIn">
									<span class="word-rotate">
										<span class="word-rotate-items text-primary">
											<span>success.</span>
											<span>advance.</span>
											<span>progress.</span>
										</span>
									</span>
          </strong>
          </h2>
          <p class="featured lead text-info">
            A Technology Company, started by <span class="alternative-font">IITians</span> developing an Integrated Platform for HealthCare. LongAyu aims to establish a coherent communication channel between Patients and Doctors via digital Solutions. LongAyu believes in leveraging technology to design efficient and better solutions for HealthCare Industry.

          </p>
        </div>
      </div>

      <hr class="tall" />
    </div>
