<div class="container text-primary" style="padding-top: 50px">

  <div class="row">
    <div class="col-md-6">

      <div class="alert alert-success hidden" id="contactSuccess">
        <strong>Success!</strong> Your message has been sent to us.
      </div>

      <div class="alert alert-error hidden" id="contactError">
        <strong>Error!</strong> There was an error sending your message.
      </div>

      <h2 class="short"><strong>Contact</strong> Us</h2>
      <form action="" id="contactForm" type="post">
        <div class="row">
          <div class="form-group">
            <div class="col-md-6">
              <label>Your name *</label>
              <input type="text" value="" data-msg-required="Please enter your name." maxlength="100" class="form-control" name="name" id="name">
            </div>
            <div class="col-md-6">
              <label>Your email address *</label>
              <input type="email" value="" data-msg-required="Please enter your email address." data-msg-email="Please enter a valid email address." maxlength="100" class="form-control" name="email" id="email">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="form-group">
            <div class="col-md-12">
              <label>Subject</label>
              <input type="text" value="" data-msg-required="Please enter the subject." maxlength="100" class="form-control" name="subject" id="subject">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="form-group">
            <div class="col-md-12">
              <label>Message *</label>
              <textarea maxlength="5000" data-msg-required="Please enter your message." rows="10" class="form-control" name="message" id="message"></textarea>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <input type="submit" value="Send Message" class="btn btn-primary btn-lg" data-loading-text="Loading...">
          </div>
        </div>
      </form>
    </div>
    <div class="col-md-6">

      <h4 class="push-top">Get in <strong>touch</strong></h4>
      <p>We are always pleased to be able to help and also love feedbacks. Please leave a message or feedback. We will be more than happy to assist you and will love to read your feedbacks.</p>

      <hr />

      <h4>The <strong>Office</strong></h4>
      <ul class="list-unstyled">
        <li><i class="icon icon-map-marker"></i> <strong>Address:</strong>G55 Sector-20, Noida </li>
        <li><i class="icon icon-phone"></i> <strong>Phone:</strong> (+91) 98990-20125</li>
        <li><i class="icon icon-envelope"></i> <strong>Email:</strong> <a href="contact@longayu.com">contact@longayu.com</a></li>
      </ul>

      <hr />



    </div>

  </div>

</div>