<script>
    $(document).ready(function() {
        $("#multiple").select2()

    })
    $(document).ready(function(){
        $('[data-toggle="tooltip"]').tooltip();
    });
</script>
<div class="container padding-top">
<div class="row col-sm-8 col-sm-offset-2">
  <div class="col-sm-12 ">

    <%= render 'search/search_box' %>

    </div>
</div>
</div>
