
    <div class="col-sm-12" >
      <section class="panel panel-default">
        <header class="panel-heading font-bold">
          Edit Your Detail
        </header>
        <div class="panel-body">
<%= render('patients/form') %>
<%= link_to 'Back', patients_path %>
        </div>
      </section>
    </div>

