<div class="page-footer bg-dark" >
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <h2 class="script">Thanks for visiting LongAyu!</h2>
        <p>LongAyu helps patients find, compare and book the right clinics for them. We provide detailed listings of clinics on our site. These include doctors, dentists, beauty and cosmetic surgeries, physiotherapy, fertility, yoga and a lot more. We believe that every patient is an empowered consumer. When they elect to have a medical treatment, we want to give them all the information they need to make an informed choice.</p>
        <p id="copyright" class="text-primary small">Copyright &copy; 2015 - LongAyu. All Rights Reserved.</p>
      </div>
      <div class="col-md-3 col-md-offset-1">
        <h3 class="script">Find me!</h3>
        <ul class="list-inline">
          <li>
            <a href="#" class="btn btn-social-light btn-facebook"><%= fa_icon "facebook 2x"%></a>
          </li>
          <li>
            <a href="#" class="btn btn-social-light btn-twitter"><%= fa_icon "twitter 2x"%></a>
          </li>
          <li>
            <a href="#" class="btn btn-linkedin"><%= fa_icon "linkedin 2x"%></a>
          </li>
          <li>
            <a href="#" class="btn btn-google-plus"><%= fa_icon "google-plus 2x"%></a>
          </li>
        </ul>
        <br>
        <address>
          <strong>LongAyu, Inc.</strong>
          <br>G-55, Sector-20
          <br>Noida, UP
          <br>
          <abbr title="Phone">P:</abbr>(91) 456-7xxx
        </address>
      </div>
    </div>
  </div>
</div>
